autopep8
black
Click
color-pprint
dateparser
filelock
groq
isort
jinja2-cli
jupyter
keras
matplotlib
nltk
numpy
pandas
pip
prefect
pycountry
pygments
scikit-learn
scipy
sympy
tabulate
tensorflow
thefuck
tqdm
wxPython
youtube-dl
